.foto{
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    transform: scale(1.0099999);
}


.text1{
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 22%;
    bottom: 26%;
    color: rgb(248, 248, 248);
    font-size: 8vh;
    text-align: center;
    font-family: 'Silkscreen', cursive;

}



.odkaz{
    text-decoration: none;    

}

.navbar{
    position: absolute;
    padding-left: 25%;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    top: 1%;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}


.bily-prostor{
    background-color: white;
    height: 100%;    


}

.text2{
    display: flex;
    padding-top: 25px;
    padding-left: 8vh;
    font-family: 'Silkscreen', cursive;
    font-size: 2.5vh;
}



.text3{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    padding-left: 10vh ;
    padding-right: 8vh;

}

.black-section{

    font-family: 'Silkscreen', cursive;
    background-color: black;

}


.video{
    display: flex;
    justify-content: center;

}


.podtext1{
    display: flex;
    justify-content: space-between;



}


.podtext2{
    display: flex;
    flex-direction: column;
}




.black-section2{
    background-color: black;
    padding: 60px;
    color: white;
}




.zahl{
    display: flex;
    justify-content: space-around;

}


.footer-links{
    font-family: 'Roboto Mono', monospace;
    color: white;
}
